$carousel-time-animation: 0.8s !default;

.carouselWrapper {
  width: 100%;
  height: 700px;
  background-color: #3d3d3d;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.carouselArrows {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
}

.carouselArrow, .carouselArrowLeft {
  width: 60px;
  height: 60px;
  list-style: none;
  z-index: 4;
}

.carouselArrowLeft {
  transform: rotate(180deg);
}

.carouselCard {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
}

.carouselNextItem {
  animation: animation-carousel $carousel-time-animation;
  z-index: 2;
}

.carouselPreviousItem {
  animation: animation-carousel-reverse $carousel-time-animation;
  z-index: 2;
}

.carouselUncurrent {
  z-index: 1;
}

.carouselFirstItem {
  animation-play-state: paused;
  z-index: 1;
}

@keyframes animation-carousel {
  0% {
    display: block;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animation-carousel-reverse {
  0% {
    display: block;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
